.scroll-wrapper-styles {
    position: fixed;
    z-index: 999;
    bottom: 5rem;
    right: 1rem;
    transition: opacity 0.3s ease-in-out;
}

.scroll-wrapper-styles Button {
    font-size: 16px;
    border-radius: 100%;
    cursor: pointer;
    background: #cc0000;
    border: none;
}
