.scroll-wrapper-styles {
    position: fixed;
    z-index: 999;
    bottom: 5rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff9900;
    color: #fff;
    transition: opacity 0.3s ease-in-out;
}

.scroll-wrapper-styles Button {
    font-size: 24px;
    display: flex;
    justify-content: center;
}
