.footer-wrapper-styles {
    background-color: #6B1D20;
    color: #fff;
    padding: 0px 96px;
}

.footer-block-styles {
    width: 20%;
}

.footer-links-styles {
    list-style-type: none;
    padding: 0;
}

.footer-links-styles li a {
    text-decoration: none;
    color: #fff;
}

.footer-links-styles li a:hover {
    color: #ff9900;
}

.social-content-styles a {
    color: #fff;
    padding: 0.5rem;
}

.social-content-styles a:hover {
    color: #ff9900;
}

.copyright-content-styles p {
    font-size: 0.85rem;
}

.app-link-styles {
    min-width: 14rem;
    min-height: 3rem;
    background-color: #fff;
    color: #6B1D20;
    display: flex;
    justify-content: center;
    cursor: pointer;
    tab-size: 2;
}

.app-link-styles:hover {
    color: #fff;
    background-color: #ff9900;
}

@media (max-width: 991.98px) {
    .footer-wrapper-styles {
        padding: 0px 16px;
    }

    .footer-block-styles {
        width: 100%;
    }

    .footer-bottom-styles {
        margin-bottom: 3rem;
    }

    .copyright-content-styles p {
        font-size: 0.7rem;
    }

    .app-link-styles {
        min-width: 100%;
        min-height: 3rem;
    }
}