@import "../../styles/variable.css";


.swiperLink {
    text-decoration: none;
}

.swiperContent {
    display: flex;
    text-align: center;
    padding: 0.5rem;
    gap: 1.5rem;
    color: var(--primary-color);
}

.swiperContent:hover {
    background-color: var(--primary-color);
    color: var(--text-light);
}