.doctorWrapperStyle {
    padding: 4rem 96px;
}

.searchComponentStyle {
    position: relative;
}

.doctorBodyStyle {
    min-height: 100vh;
    overflow: hidden;
}

.filterSection{
    min-height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
}

.doctorListSection{
    min-height: 100vh;
    overflow-y: auto;
}

@media (max-width: 991.98px) {
    .doctorWrapperStyle {
        padding: 4rem 16px;
    }
}
