/* serach component style */
.searchComponentStyle {
    position: absolute;
    bottom: 8rem;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 20;
}
/* end serach component style */

/* discover section style */
.discoverSectionStyles {
    padding: 3rem 0rem;
    background: linear-gradient(to bottom, #e9afb1 0%, rgba(107, 29, 31, 0.1) 100%);
}

.discoverTitleStyle {
    margin-bottom: 1rem;
    color: var(--text-primary);
}
/* end discover section style */

/* diseases & conditions section style */
.diseasesConditionsStyles {
    padding: 3rem 0rem;
    background: rgba(107, 29, 31, 0.1);
}

.diseaseContainer {
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.diseaseTitleStyle h3 {
    color: var(--text-primary);
    margin-bottom: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 15px;
    max-width: 700px;
    padding: 1rem;
}

.circle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1.5px solid #6b1d20;
    background-color: #fff;
    color: #002b45;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.circle:hover {
    background-color: #6b1d20;
    color: #fff;
}

.columnTitle h3 {
    color: var(--text-primary);
    margin-bottom: 1rem;
}

.diseaseListStyles {
    list-style-type: none;
    padding-left: 0;
}

.diseaseListStyles li {
    margin-bottom: 10px;
}

.diseaseLinkStyles {
    text-decoration: none;
    color: #7D2529;
}

.diseaseLinkStyles:hover {
    color: #e68a00;
}
/* end diseases & conditions section style */

/* service section styles */
.serviceSectionStyles {
    padding: 3rem 0rem;
    background: rgba(107, 29, 31, 0.1);
}

.serviceTitleStyles h1 {
    color: var(--text-primary);
    font-weight: bold;
    margin-bottom: 1rem;
}
/* end service section styles */

/* new section styles */
.newSectionStyles {
    padding: 3rem 0rem;
    background: #fff;
}

.newTitleStyles {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 1rem;
}

.newTitleStyles h1 {
    color: var(--text-primary);
    font-weight: bold;
    margin-bottom: 0;
}

.eventContentStyles {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgba(242, 242, 242, 0.8);
}

.eventContentStyles:hover {
    background-color: rgba(107, 29, 37, 0.8);
    color: #fff;
}
/* end new section styles */

/* about section styles */
.aboutSectionStyles {
    padding: 3rem 0rem;
    background: rgba(107, 29, 31, 0.1);
}

.aboutTitleStyles h3 {
    color: var(--text-primary);
    font-weight: bold;
    margin-bottom: 1rem;
}

.aboutTextStyles p {
    color: var(--text-primary);
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
/* end about section styles */

/* testimonial section styles */
.testimonialSectionStyles {
    padding: 3rem 0rem;
    background: #fff;
}

.testimonialTitleStyles h1 {
    color: var(--text-primary);
    font-weight: bold;
}
/* end testimonial section styles */

/* callback section styles */
.callbackSectionStyles {
    padding: 3rem 0rem;
    background: rgba(107, 29, 31, 0.1);
}

.callbackTitleStyles h3 {
    color: var(--text-primary);
    margin-bottom: 1rem;
}

.callbackTitleStyles p {
    color: var(--text-primary);
    margin-bottom: 1rem;
    text-align: justify;
}
/* end callback section styles */

/* mobile view styles */
@media (max-width: 767.99px) {

    /* diseases & conditions section style */
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(38px, 1fr));
        gap: 12px;
        max-width: 700px;
        background-color: rgba(109, 27, 32, 0.2);
        padding: 1rem;
    }

    .circle {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1.5px solid #6b1d20;
        background-color: #fff;
        color: #002b45;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .circle:hover {
        background-color: #6b1d20;
        color: #fff;
    }
    /* end diseases & conditions section style */
}