.searchComponentStyle {
    position: absolute;
    bottom: 8rem;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 20;
}

.discover-section-styles,
.testimonial-section-styles,
.service-section-styles {
    padding: 48px 0px;
}
