.banner-section-styles {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.banner-section-styles::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
            rgba(107, 29, 32, 0.4) 0%,
            rgb(255, 255, 255, 0) 60%);
    background-color: rgba(107, 29, 32, 0.4);
    z-index: 10;
    pointer-events: none;
}

.bannerSwipper {
    width: 100%;
    height: 100%;
}

.banner-image-styles {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.searchComponentStyle {
    position: absolute;
    bottom: 8rem;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 20;
}

.discover-section-styles,
.testimonial-section-styles {
    padding: 48px 0px;
}

@media screen and (max-width: 767.98px) {
    .bannerSwipper {
        width: 100%;
        height: 100%;
    }

    .banner-image-styles {
        width: 100%;
        height: 100%;
    }
}