.searchComponentStyle {
    position: absolute;
    bottom: 8rem;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 20;
}

.discover-section-styles,
.testimonial-section-styles,
.diseases-and-conditions-styles {
    padding: 48px 0px;
}

.service-section-styles {
    padding: 48px 0px;
    background-color: aliceblue;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 15px;
    max-width: 700px;
    background-color: rgba(109,27, 32, 0.2);
    padding: 1rem;
}

.circle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1.5px solid #6b1d20;
    background-color: #fff;
    color: #002b45;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.circle:hover {
    background-color: #6b1d20;
    color: #fff;
}

.diseaseListStyles {
    list-style-type: none;
    padding-left: 0;
}

.diseaseListStyles li {
    margin-bottom: 10px;
}

.diseaseLinkStyles {
    text-decoration: none;
}

.diseaseLinkStyles:hover {
    color: #6b1d20;
}
