.navbar-wrapper-styles {
    position: absolute !important;
    z-index: 999;
    width: 100%;
    height: 4rem;
}

.navbar-wrapper-styles:hover {
    background: #fff;
    transition: 0.3s;
}

.fixed-styles {
    position: fixed !important;
    background: #fff;
    transition: 0.3s;
}

@media (max-width: 991.98px) {
    .navbar-wrapper-styles {
        position: fixed !important;
        background: #fff;
        z-index: 999;
        top: 0;
        left: 0;
    }
}
