.nav-styles {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.headerWrapperStyles {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.headerWrapperStyles:hover {
    background-color: #fff;
    color: #6b1d20;
}

.scrolled {
    background-color: #fff;
    color: #6b1d20;
}

@media (max-width: 768px) {
    .nav-styles {
        width: 100%;
        display: flex;
        justify-content: start;
        gap: 0.5rem;
        padding: 0.5rem 0.5rem;
    }

    .navbarStyles {
        padding: 0.8rem 0.7rem !important;
    }

    .headerWrapperStyles {
        background-color: #fff;
        color: #6b1d20;
    }
}
