:root {
    /* ============
    colors
    ============ */

    --primary-color: #6b1d20;
    --primary-hover: #6b1d20;

    --secondary-color: #004d00;
    --secondary-hover: #004d00;

    --tertiary-color: #D4AF37;
    --tertiary-hover: #D4AF37;

    --success-color: #198754;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #0dcaf0;

    /* ============
    text colors
    ============ */

    --text-primary: #6b1d20;
    --text-secondary: #004d00;
    --text-tertiary: #D4AF37;
    --text-dark: #000000;
    --text-muted: #adb5bd;
    --text-light: #fff;

    /* ============
    background
    ============ */

    --bg-primary: rgb(125, 37, 41);
    --bg-secondary: rgb(0, 77, 0);
    --bg-tertiary: rgb(212, 175, 55);
    --bg-light: rgb(248, 249, 250);

    /* ============
    border
    ============ */

    --border-color: ;
    --border-light: ;

    /* ============
    font family
    ============ */

    --font-primary: "Figtree", sans-serif;
    --font-secondary: "Inter", sans-serif;

    /* ============
    font sizes
    ============ */

    --font-xs: 12px;
    --font-sm: 14px;
    --font-md: 16px;
    --font-lg: 18px;
    --font-xl: 22px;
    --font-xxl: 28px;

    /* ============
    font weight
    ============ */

    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;

    /* ============
    transitions
    ============ */

    --transition-fast: 0.2s ease-in-out;
    --transition-normal: 0.3s ease;
    --transition-slow: 0.5s ease;

    /* ============
    padding
    ============ */

    --padding: 7rem 12rem
    }