.desktopSideNavContentStyles {
    position: fixed;
    top: 0;
    left: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    z-index: 999;
}

.desktopSideNavItem {
    display: flex;
    align-items: center;
}

.desktopSideNavLink {
    display: inline-flex;
    align-items: center;
    height: 3rem;
    border-radius: 999px;
    background-color: #fce7b2;
    cursor: pointer;
    text-decoration: none;

    /* animation control */
    width: 3rem;
    overflow: hidden;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.desktopSideNavLink:hover {
    width: 240px;
}

.desktopIconWrapperStyles {
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fce7b2;
}

.desktopSideNavText {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 0.75rem;
    padding-right: 0.5rem;

    font-size: 1rem;
    font-weight: 600;
    color: #004d40;

    opacity: 0;
    transform: translateX(-8px);
    transition: opacity 0.2s ease, transform 0.2s ease;
    white-space: nowrap;
}

.desktopSideNavLink:hover .desktopSideNavText {
    opacity: 1;
    transform: translateX(0);
}

.desktopSideNavArrow {
    margin-left: auto;
    margin-right: 0.75rem;
    width: 28px;
    height: 28px;
    background-color: #00796b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desktopSideNavLink * {
    user-select: none;
}

/* mobile Styles */

@media (max-width: 768px) {
    .mobileSideNavWrapperStyles {
        position: fixed;
        z-index: 999;
        bottom: 9rem;
        right: 1rem;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ff9900;
        color: #fff;
        transition: opacity 0.3s ease-in-out;
    }
}