.discoverButtonStyles {
    width: 12rem;
    background-color: #e68a00 !important;
    border: none !important;
}

.discoverBodyStyles {
    display: flex;
    gap: 4rem;
    overflow-x: auto;
    width: 100%;
    scrollbar-width: none;
}