@import "../../styles//variable.css";


.discoverButtonStyles {
    width: 12rem;
    height: 2.5rem;
    background-color: var(--tertiary-color) !important;
    color: var(--text-dark) !important; 
    border: none !important;
}

.discoverButtonStyles:hover {
    background-color: var(--primary-color) !important;
    color: var(--text-light) !important;
}

.discoverBodyStyles {
    display: flex;
    gap: 4rem;
    overflow-x: auto;
    width: 100%;
    scrollbar-width: none;
}
