.testimonialWrapperStyles {
    display: flex;
    gap: 24px;
    overflow: hidden;
    padding: 32px 0;
    white-space: nowrap;
    height: 16rem;
}

.testimonialItemsStyles {
    min-width: 50rem;
    display: flex;
    gap: 2rem;
    flex-shrink: 0;
    animation: scroll 25s linear infinite;
}

/* Animation */
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.testimonialImageStyles {
    width: 12rem;
    height: 12rem;
}

.testimonialContentStyles {
    width: calc(100% - 13rem);
    background-color: #007c9d;
    color: #fff;
    padding: 1rem;
}
