.playerWrapperStyle {
    position: relative;
    width: 100%;
    height: 12rem;
    overflow: hidden;
}

.overlayWrapperStyle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
}
