* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    font-family: "Figtree", sans-serif;
}

main {
    flex: 1;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.dropdown-toggle::after {
    content: none !important;
}

svg circle[fill^="url("] {
    display: none !important;
}

.go3489369143 {
    display: none !important;
}
