* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    font-family: "Figtree", sans-serif;
}

main {
    flex: 1;
}

/* tanstack styles */

svg circle[fill^="url("] {
    display: none !important;
}

.go3489369143 {
    display: none !important;
}

/* end of tanstack styles */

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.swiper-button-prev,
.swiper-button-next {
    background-color: #6b1d20 !important;
    width: 3rem !important;
    height: 3rem !important;
    padding: 16px;
    border-radius: 50%;
    color: #fff !important;
}

.accordion {
    --bs-accordion-btn-focus-box-shadow: none !important;
}

@media (max-width: 768px) {
    
    .navbar-collapse {
        height: 100vh !important;
    }

    .navbar-nav {
        padding: 0 !important;
    }
}
