* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    font-family: "Figtree", sans-serif;
}

main {
    flex: 1;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.dropdown-toggle::after {
    content: none !important;
}

svg circle[fill^="url("] {
    display: none !important;
}

.go3489369143 {
    display: none !important;
}

.dropdown-menu {
    --bs-dropdown-min-width: 16rem !important;
}

@media screen and (max-width: 768px) {
    .navbar-collapse {
        height: 100vh !important;
    }

    .dropdown-menu {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        padding: 0.5rem !important;
        width: 100% !important;
    }

    .dropdown-item {
        padding: 0 !important;
    }

    .nav-link span {
        padding: 0rem !important;
        display: flex;
        justify-content: space-between;
    }
}